* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

[class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.item-image {
    width: 100%;
}

.text-bold {
    font-weight: bold;
}
.btn{
    border: none;
}
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*Header*/
header {
    background-image: url("../Assets/Banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    color: white;
}

.title-banner {
    text-transform: uppercase;
    margin-top: 0px;
    font-size: 30px;
    padding-top: 140px;
}
.title-music{
    text-transform: uppercase;
    font-size: 65px;
}
.title-music>p{
    margin: 0;
}
.btn_booknow{
    background: transparent;
    color: white;
    border: 3px solid white;
    width: 160px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}
.countdown {
    font-size: 65px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    margin: auto;

}

.timer {
    margin-right: 20px;
}

.countdown .countdown_timer {
    width: 60%;
    margin: auto;
    height: 200px;
    margin-top: 80px;
    padding-top: 20px;
    background: rgba(7, 7, 7, 0.45);
    box-shadow: 10px 10px 5px rgba(12, 12, 12, 0.23);

}

.countdown_timer label {
    font-size: medium;
}

.email {
    width: 150px;
    padding: 5px
}

.btn_submit {
    background: #FFE400;
    color: #070707;
    border: none;
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
}
/**/

/*content*/
.content{
    padding-top: 100px;
}
.item {
    display: flex;
}

.item > div:first-child {
    margin-right: 10px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.month {
    color: #0090FF;
    font-size: 35px;
    margin: 0;
}

.year {
    font-size: 50px;
    margin: 0;
}

/**/
/*footer*/
footer {
    margin-top: 100px;
    background-image: url("../Assets/Footer_banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

footer > div {
    background-color: rgba(0, 0, 0, 0.5);
}

.article-title {
    color: #0090FF;
    font-size: 35px;
    font-weight: bold;
}

.article .title {
    font-weight: bold
}

.article-content {
    margin-top: 20px;
    color: white;
    font-size: 18px;

}

.info-user p {
    color: white;
    padding: 10px 0 5px 0;
}

.info-user > .btn_submit {
    font-weight: bold;
    margin: 20px 0 0 0;
    border-radius: 5px;
    width: 175px;
    height: 50px;
    font-size: 20px;
}

.content-footer {
    padding: 40px 0;
    border-bottom: 1px solid #636D75;
}

.social {
    padding-top: 20px;
    border: none;
}

.social .article-content {
    color: #636D75;
    margin-top: 10px;
}

.input-info {
    width: 390px;
    height: 34px
}
/**/
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    .banner {
        display: none;
    }

    .title {
        font-size: 30px;
    }
    .month-year {
        text-align: center;
        margin-top: 50px;
    }

    .countdown .countdown_timer {
        width: 80%;
    }
    .title-music{
        font-size: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 25px;
    }
    .countdown {
        font-size: 40px;
    }
    .countdown .countdown_timer {
        width: 100%;
        margin-top: 30px;
    }
}