*{
    margin: 0;
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 5px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.article img{
    width: 100%;
}
.container{
    margin:0 15%;
    /*360*/
}
body{
    font-family: 'Roboto';
}

/*header*/
header{
    background-image: url("../Assets/Banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 650px;
}
header .title-banner{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding-top: 140px;
    font-weight: lighter;
    font-size: 30px;
}
header .title{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 65px;
}
header .title span{
    display: block;
}
.btn_booknow{
    width: 160px;
    height: 50px;
    cursor: pointer;
    border: 3px solid #fff;
    background: transparent;
    font-size: 16px;
    color: white;
}
.countdown{
    font-size: 65px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    margin: auto;
}
.countdown .countdown_timer {
    width: 50%;
    margin: auto;
    height: 200px;
    margin-top: 80px;
    padding-top: 20px;
    background: rgba(7, 7, 7, 0.45);
    box-shadow: 10px 10px 5px rgba(12, 12, 12, 0.23);

}
.countdown_timer label{
    font-size: medium;
}
.email{
    width: 150px;
    padding: 5px
}
.btn_submit{
    background: #FFE400;
    color: #070707;
    border: none;
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
}

/*content*/
.article{
    padding: 60px 0;

}
.article .content p {
    margin-bottom: 15px;
}
.article .title{
    transform: none;
    font-size: 40px;
    color: black;
}
.article .title:last-child{
    transform: none;
    color: black;
    font-size: 16px;
}
.item{
    display: inline-block;
}
.article .item div:first-child{
    margin-right: 10px;
}
.month {
    font-size: 35px;
}
.year{
    margin-top: 10px;
    font-size: 50px;
    color: #0190FF;
}

/*footer*/
footer{
    background-image: url("../Assets/Footer_banner.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    font-family: 'Roboto';
}
footer>div{
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
}
.article-footer{
    width: 50%;
    padding-bottom: 90px;

}
.article-title {
    color: #0090FF;
    font-size: 35px;
    font-weight: bold;
}
.article-content{
    margin-top: 20px;
    color: white;
    font-size: 18px;

}
.info-user p {
    color: white;
    padding: 10px 0 5px 0 ;
}
.info-user>.btn_submit {
    font-weight: bold;
    margin: 20px 0 0 0;
    border-radius: 5px;
    width: 175px;
    height: 50px;
    font-size: 20px;
}
.content-footer{
    padding-top: 40px;
    border-bottom: 1px solid #636D75;

}
.social{
    padding-top: 20px;
    border: none;
}
.social .article-content{
    color: #636D75;
    margin-top: 10px;
}

